@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,300;1,500&display=swap');

body{
    background-color: #9380b7;
    font-family: 'Prompt', sans-serif;
    text-align: center;
}


header{
    background-image: url(fundoo.jpg);
    height: 150px;  
    padding: auto;
    margin-top: 00px;
    color:white;
    text-align: center;
}
img{
    max-height: 300px;
}

a{
    text-decoration: none;
    color:black;
}
.conteudo-padrao {
    text-align:inherit;
    display: inline-block;
    width: 48%;
    border: 3px solid black;
   padding-top: 20px;
   padding-bottom: 20px;
   border-radius: 15px;
   height: 30px;
   line-height: 20px;
}
footer{
    background-color: #301860;
    height: 100px;
    padding: auto;
    margin-top: 00px;
    color:white;
    text-align: center;
    font-size: 30px;

}
.titulos{
    text-align: center;
    font-size:  70px;
    }


